:root {
    --primary-color: #F44336;
    --primary-color-text: #ffffff;
    --primary-lighter-color: rgba(244, 67, 54, 0.1);
    --highlight-bg: rgba(244, 67, 54, 0.1);
    --highlight-text-color: #F44336;
    --focus-ring: 0 0 0 0.2rem rgba(244, 67, 54, 0.4);
}
