:root {
    --primary-color: #7B1FA2;
    --primary-color-text: #ffffff;
    --primary-lighter-color: rgba(123, 31, 162, 0.1);
    --highlight-bg: rgba(123, 31, 162, 0.1);
    --highlight-text-color: #7B1FA2;
    --focus-ring: 0 0 0 0.2rem rgba(123, 31, 162, 0.4);
}
