:root {
    --primary-color: #4CAF50;
    --primary-color-text: #ffffff;
    --primary-lighter-color: rgba(76, 175, 80, 0.1);
    --highlight-bg: rgba(76, 175, 80, 0.1);
    --highlight-text-color: #4CAF50;
    --focus-ring: 0 0 0 0.2rem rgba(76, 175, 80, 0.4);
}
